html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #252525;
  font-size: 1.6rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.main-doc {
  position: relative; }
  .main-doc .menu {
    height: 100vh;
    width: 40vw;
    position: fixed; }
    .main-doc .menu .navbar {
      background-color: yellowgreen;
      border-right: 5px solid #b4b4b7;
      display: block;
      padding: 5rem;
      height: 100%;
      width: 100%; }
      .main-doc .menu .navbar__items {
        display: block; }
        .main-doc .menu .navbar__items .nav {
          display: block; }
  .main-doc .documentation {
    margin-left: 40vw;
    padding: 5rem; }

.code {
  background-color: #b4b4b7;
  border-radius: 5px;
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  width: 50rem; }
  .code span {
    display: block; }

.footer {
  background-color: #545457;
  position: relative;
  height: 15rem;
  padding: 5rem;
  text-align: center; }
  .footer .copyright {
    color: #eee;
    font-size: 2rem; }
