html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #252525;
  font-size: 1.6rem;
  min-width: 290px; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

li {
  list-style: none; }

.navbar {
  background-color: #545457;
  border-right: 1px solid #252525;
  display: block;
  font-size: 2rem;
  height: 100%;
  width: 40vw;
  display: block;
  position: fixed;
  top: 0;
  left: 0; }
  @media (max-width: 75em) {
    .navbar {
      width: 30vw; } }
  @media (max-width: 37.5em) {
    .navbar {
      border: none;
      height: auto;
      width: 100%;
      position: relative; } }
  .navbar .header {
    color: #f5f0f0;
    font-size: 3rem;
    font-weight: 600;
    padding: 4rem;
    text-shadow: 0 0 5px #252525; }
    @media (max-width: 37.5em) {
      .navbar .header {
        border: none;
        padding: 3rem;
        text-align: center; } }
  .navbar__items {
    background-color: #cdcdcf;
    background: linear-gradient(to top, #545457, #cdcdcf);
    display: block;
    height: 60%;
    overflow-x: hidden;
    overflow-y: auto;
    text-shadow: 0 0 5px #cdcdcf; }
    .navbar__items .nav-link:link, .navbar__items .nav-link:visited {
      color: inherit;
      text-decoration: none;
      border-top: 1px solid #f5f0f0;
      display: block;
      padding: 2rem; }
      @media (max-width: 37.5em) {
        .navbar__items .nav-link:link, .navbar__items .nav-link:visited {
          padding: 1rem;
          padding-left: 2rem; } }
      .navbar__items .nav-link:link:nth-child(5), .navbar__items .nav-link:visited:nth-child(5) {
        border-bottom: 1px solid #f5f0f0; }
    .navbar__items .nav-link .nav {
      font-size: 2.5rem; }
    .navbar__items .nav-link:hover, .navbar__items .nav-link:active {
      background-color: #545457;
      background: linear-gradient(to bottom, #86868b, #585858, #86868b);
      color: #f5f0f0;
      cursor: pointer;
      text-shadow: 0 0 5px #252525; }

.documentation,
.footer {
  margin-left: 40vw;
  padding: 5rem; }
  @media (max-width: 75em) {
    .documentation,
    .footer {
      margin-left: 30vw;
      padding: 1.5rem; } }
  @media (max-width: 37.5em) {
    .documentation,
    .footer {
      margin-left: 0;
      padding-top: 1.5rem; } }

.documentation {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5; }
  @media (max-width: 37.5em) {
    .documentation {
      padding-top: 1.5rem; } }
  .documentation .main-section {
    display: block;
    padding: 2rem; }
    .documentation .main-section .header {
      border-bottom: 1px solid #252525;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      padding-bottom: 1rem; }
    .documentation .main-section__list li {
      margin-left: 20%;
      padding-left: 2rem;
      position: relative; }
      @media (max-width: 37.5em) {
        .documentation .main-section__list li {
          margin-left: 10%; } }
      .documentation .main-section__list li::before {
        content: "\2713";
        display: block;
        position: absolute;
        top: 0;
        left: 0; }
  .documentation .code {
    background-color: #cdcdcf;
    border-radius: 5px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem auto;
    padding: 2rem;
    width: 80%; }
    @media (max-width: 56.25em) {
      .documentation .code {
        width: 100%; } }
    .documentation .code span {
      display: block;
      width: 100%; }

.up:link, .up:visited {
  border-radius: 50%;
  display: none;
  text-decoration: none;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  height: 5rem;
  width: 5rem; }
  @media (max-width: 37.5em) {
    .up:link, .up:visited {
      display: block; } }

.up span {
  background-color: #252525;
  opacity: .8;
  border-radius: 50%;
  color: #f5f0f0;
  display: block;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  padding: .7rem;
  text-align: center; }

.footer {
  background-color: #252525;
  height: 15rem;
  text-align: center; }
  .footer .copyright {
    color: #f5f0f0;
    font-size: inherit; }
