html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  color: #252525;
  font-size: 1.6rem; }
  @media (max-width: 75em) {
    body {
      font-size: 1.2rem; } }
  @media (max-width: 56.25em) {
    body {
      font-size: 1rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.navbar {
  background-color: yellowgreen;
  border-right: 5px solid #b4b4b7;
  display: block;
  height: 100vh;
  width: 40vw;
  display: block;
  padding: 5rem;
  position: fixed; }
  @media (max-width: 75em) {
    .navbar {
      width: 30vw; } }
  @media (max-width: 56.25em) {
    .navbar {
      border: none;
      height: 50vh;
      width: 100%;
      padding: 1.5rem;
      position: relative; } }
  .navbar__items {
    display: block; }
    .navbar__items .nav {
      display: block; }

.documentation {
  margin-left: 40vw;
  padding: 5rem; }
  @media (max-width: 75em) {
    .documentation {
      margin-left: 30vw; } }
  @media (max-width: 56.25em) {
    .documentation {
      margin-left: 0;
      padding: 1.5rem; } }
  .documentation .main-section {
    display: block; }
  .documentation .code {
    background-color: #b4b4b7;
    border-radius: 5px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem auto;
    padding: 2rem;
    width: 30rem; }
    @media (max-width: 56.25em) {
      .documentation .code {
        width: 100%; } }
    .documentation .code span {
      display: block;
      width: 100%; }

.footer {
  background-color: #545457;
  position: relative;
  height: 15rem;
  padding: 5rem;
  text-align: center; }
  @media (max-width: 75em) {
    .footer {
      padding: 1.5rem; } }
  .footer .copyright {
    color: #eee;
    font-size: 2rem; }
    @media (max-width: 75em) {
      .footer .copyright {
        font-size: 1rem; } }
