html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.code {
  background-color: #b4b1b1;
  border-radius: 5px;
  display: block;
  margin: 2rem auto;
  padding: 2rem;
  width: 30rem; }
  .code span {
    display: block; }
