.navbar {
    background-color: yellowgreen;
    border-right: 5px solid $color-secondary;
    display: block;
    height: 100vh;
    width: $navbar-width;
    display: block;
    padding: $gutter;
    position: fixed;
    
    @include respond(tablet-land) {
        width: $navbar-width-small;
    }
    
    @include respond(tablet-port) {
        border: none;
        height: 50vh;
        width: 100%;
        padding: $gutter-small;
        position: relative;
    }

    &__items {
        display: block;

        .nav {
            display: block;
            
        }
    }
}

.documentation {
    margin-left: $navbar-width;
    padding: $gutter;

    @include respond(tablet-land) {
        margin-left: $navbar-width-small;
    }

    @include respond(tablet-port) {
        margin-left: 0;
        padding: $gutter-small;
    }

    .main-section {
        display: block;
    }

    .code {
        background-color: $color-secondary;
        border-radius: 5px;
        display: block;
        font-family: 'Courier New', Courier, monospace;
        margin: 2rem auto;
        padding: 2rem;
        width: 30rem;

        @include respond(tablet-port) {
            width: 100%;
        }

        span {
            display: block;
            width: 100%;
        }
    }
}

.footer {
    background-color: $color-primary;
    position: relative;
    height: 15rem;
    padding: $gutter;
    text-align: center;

    @include respond(tablet-land) {
        padding: $gutter-small;
    }

    .copyright {
        color: $color-white;
        font-size: 2rem;

        @include respond(tablet-land) {
            font-size: 1rem;
        }
    }
}