.code {
    background-color: #b4b1b1;
    border-radius: 5px;
    display: block;
    margin: 2rem auto;
    padding: 2rem;
    width: 30rem;
    
    span {
        display: block;
    }
}