///////////////////////
//
// Colors
//
///////////////////////
$color-black: #252525;
$color-primary: #545457;
$color-secondary: #cdcdcf;
$color-white: #f5f0f0;

///////////////////////
//
// font size
//
///////////////////////
$default-font-size: 1.6rem;

///////////////////////
//
// gutter size
//
///////////////////////
$gutter: 5rem;
$gutter-small: 1.5rem;
$navbar-width: 40vw;
$navbar-width-small: 30vw;