///////////////////////
//
// Colors
//
///////////////////////
$color-primary: #545457;
$color-secondary: #b4b4b7;

///////////////////////
//
// font size
//
///////////////////////
$default-font-size: 1.6rem;